<section class="content" >
    <!-- Display featured products here -->
    <div>
      <h2 class="category-headline" >Featured Medicines</h2>
      <app-tile></app-tile>
    </div>
    <div>
      <h2 class="category-headline" >Practiced Healthcare Experts</h2>
      <div class="disclaimer">
        <h3>Disclaimer: Every Subscription is valid for 30 Days</h3>
      </div>
    </div>
    <div>
      <app-doctor></app-doctor>
      <h2 class="category-headline" >Reviews</h2>
    </div>
    <div>
      <app-review></app-review>
    </div>
    <!-- <app-support></app-support>  -->
  </section>