<div class="cart">
    <div>
      <div>
        <h2 class="category-headline" >Shopping Cart</h2>
      </div>
      <br>
      <br>
      <div class="backgrdColor">
        <table style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
          <thead>
            <tr>
              <th colspan="2" style="width: 300px;">Product</th>
              <th style="width: 300px;">Price</th>
              <th style="width: 300px;">Quantity</th>
              <th style="width: 300px;">Total</th>
            </tr>
          </thead>
          <tbody>
            <!-- Loop through cart items -->
            <!-- <tr *ngFor="let item of cartItems"> -->
              <tr *ngFor="let cartItem of cartItemArr">   
                <td><img src="{{cartItem.image}}" style="height: 75%"></td>
            <td>{{ cartItem.name }} </td>
            <td><i class="fa-solid fa-sterling-sign"></i> {{ cartItem.price}} </td>
            <!-- <td>{{ cartItem.quantity }}</td> -->
            <td>
              <select [(ngModel)]="cartItem.quantity" (change)="updateQuantity(cartItem, cartItem.quantity)">
                <option *ngFor="let quantity of quantities" [value]="quantity">{{ quantity }}</option>
              </select>
            </td>
            <td><i class="fa-solid fa-sterling-sign"></i> {{cartItem.price * cartItem.quantity}} </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div style="text-align: center;padding-bottom: 20px;">
      <h2 style="height: 30px; font-size: x-large;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align: center;"><i class="fa-solid fa-money-bill-wave"></i> Total: <i class="fa-solid fa-sterling-sign"></i> {{ getTotal() }}  </h2>
      <div class="row">
            <div class="column">
              <a  style="padding-left: 20px;padding-top: 5px; height: 30px; font-size: x-large; text-align: center;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                Proceed to Payment Page
              </a>
              <button mat-button class="color-change-button-cart" (click)="goToPaymentPage()">Click Here</button>
            </div>
            <!-- <div style="padding-top: 10px;" class="column">
              <button mat-button class="color-change-button" routerLink="/" style="width: 300px; height: 100;">Home Page</button>
            </div> -->
      </div>
<!--         
  
        <a  style="padding-left: 20px; height: 30px; font-size: x-large; text-align: center;">Go to Payment Page</a> -->
    </div> 
</div>
    